h1 {
    font-size: 48px;
    font-weight: bold;
    color: darkblue;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-size: 24px;
    font-style: italic;
    color: slateblue;
    text-align: center;
    margin-top: 20px;
}

h3{
    font-size: 24px;
    font-style: bold;
    color: slateblue;
    text-align: left;
    margin-left: 40px;
}

body{
    background-color: cornflowerblue;
    text-align: left;
    margin-left: 40px;
}

p{
    font-size: 16px;
    color: black;
    margin-top: 20px;
    margin-left: 40px;
    word-wrap: break-word; 
    width: 800px; 
}

#xc-image{
    width: 300px;
    height: auto;
}

#violint{
    width: 300px;
    height: auto;
}

.big_shape{
    width: 50vw;
    height: 20vw;
    background-color: lightblue;
    margin-top: 40px;
    border-radius: 25px;
}

.hover-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}